body{
    background-color:black;
    color:white;
}
header{
    font-size:24pt;
    font-weight:bold;
    margin:10px 0;
    text-align:center;
}
#game-board{
    background-color:red;        
    border:2px solid #333;
    width:200px;
    height:200px;
    margin-right:auto;
    margin-left:auto;
}
.options{
	margin-top:10px;
	text-align:center;
}
button{
	height:32px;
	
	background: -webkit-linear-gradient(top, #ccc 10%, white);
	background: -moz-linear-gradient(top, #ccc 10%, white);
	background: -o-linear-gradient(top, #ccc 10%, white);
	background: -ms-linear-gradient(top, #ccc 10%, white);
	background: linear-gradient(top,#ccc 10%, white);
	
	font-weight:bold;
	
	border-color:#ccc;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.piece
{
	background-image:url('../img/board.png');
	background-color:black;
	float:left;
    width:48px;
    height:48px;
    
    border:1px solid red;
    
    text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}